.orderConfirmation {
  display: flex;
  flex-direction: row;
  gap: 56px;
  justify-content: flex-end;
  align-items: center;
}

.burgerStructure {
  max-height: 464px;
  width: 568px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burgerToConstruct {
  background-color: #1C1C21;
  border-radius: 25px;
  border: 2px solid #4C4CFF;
  max-height: 464px;
  height: 100%;
}

.burgerToConstructText {
  font-size: 25px;
  text-align: center;
  margin: auto;
}

.section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 292px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8.5px;
  cursor: grab;
}

.bunItem {
  display: flex;
}

.orderLoadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
